@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}
a {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
}
/* Containers */
.container {
    max-width: 600px;
}
.top-banner {
    width: 100vw;
    height: 22vh;
    background-color: #e2c747;
    padding: 20px 10px;
    position: fixed;
    top: 0vh; left: 0;
}
.section {
    width: 100%;
    height: 76vh;
    min-height: 300px;
    margin-top: 2vh;
}
.top-spacer {
    height: 22vh;
}
.photo-section {
    background-image: url("images/sylt-4544180.jpg");
    background-size: cover;
    height: 500px;
}
.photo-section .texte {
    width: 60%;
}
/* elements */
.logo {
    max-width: 300px;
}
.text-white {
    color: white;
}
.title-bar {
    background-color: #e2c747;
    color: white;
    padding: 6px 20px;
}
.breadcrumbs {
    width: 50%;
}
.section-image {
    border: thin solid black;
    width: 110px;
    margin: auto 4%;
}
.yellow-line {
    border-top: 3px solid #e2c747;
    width: 70%;
    margin: 10px 4px;
}
.footer {
    width: 100%;
}
/* modifiers */
.smoked-background {
    background-color: rgba(0, 0, 0, 20%);
    padding: 6px 20px;
}
.bold {
    font-weight: bold;
}
.text-sm {
    font-size: smaller;
}
a.black-link {
    color: black;
}